@charset 'utf-8';
* {
  box-sizing: border-box;
  color: #707070;
  font-size: 1rem;
}
body {
  width: 1000px;
  height: auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #707070;
}
.flex {
  display: flex;
  justify-content: space-between;
}
/*header*/
.header-logo {
  display: block;
  width: 200px;
  height: auto;
}
